@charset "utf-8";
.content {
    border: 1px solid #dddddd;
    background-color: rgba(221, 221, 221, 0.9);
}

/* csv-download */
.csv-download-area {
    margin-top: 30px;
}

.csv-download-area .content-main {
    background-image: url("../image/lisk-Notebook.png");
}

#download-form input {
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#download-form .checkbox {
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 95%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}

#download-form .checkbox i {
    margin-right: 5px;
}

#download-form .center-button {
    text-align: center;
}

#download-form .center-button button {
    font-size: 1.6rem;
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(22, 46, 167);
    color: #fff;
}

#download-form .center-button button:active {
    -webkit-transform: translate(-1px,1px);
    -moz-transform: translate(-1px,1px);
    transform: translate(-1px,1px);
    background-color: rgba(22, 46, 167, 0.8);
}
