@charset "utf-8";
.content {
    border: 1px solid #c5cfe4;
    background-color: rgba(197, 207, 228, 0.9);
}

.thumbnail img {
    width: 500px;
    border: 1px solid #fff;
}

/* aboutus */
.aboutus {
    margin-top: 20px;
}

.aboutus .content-main {
    background-image: url("../image/avatar.svg");
    background-size: 215px, auto, contain;
}

/* announce */
.announce {
    margin-top: 20px;
}

.announce .content-main {
    background-image: url("../image/lisk-Castle.png");
}

/* member */
.member {
    margin-top: 30px;
}

.member .content-main {
    background-image: url("../image/lisk-Delegates.png");
}

/* information */
.information {
    margin-top: 30px;
}

.information .content-main {
    background-image: url("../image/lisk-Notebook.png");
}

/* twitter */
.twitter {
    margin-top: 30px;
}

.twitter .content-main {
    background-image: url("../image/lisk-Notifications.png");
}

/* blog */
.blog {
    margin-top: 30px;
}

.blog .content-main {
    background-image: url("../image/lisk-PencilGuy.png");
}

.blog .title {
    margin-bottom: 10px;
}

.blog .description br {
    display: none;
}

.blog .writer {
    text-align: right;
    padding-top: 5px;
    color: .333;
}

.blog .writer::before {
    content: "- ";
}

/* announce */
.announce {
    margin-top: 30px;
}

.announce .content-main {
    background-image: url("../image/lisk-Castle.png");
}

/* link */
.link {
    margin-top: 30px;
}

.link .content-main {
    background-image: url("../image/lisk-World.png");
}

/* monitor */
#network-monitor canvas {
    background-color: rgba(255, 255, 255, 0.7);
}

#network-monitor li.status-green {
    color: rgb(0, 155, 0);
}

#network-monitor li.status-red {
    color: rgb(165, 5, 5);
}

#network-monitor li div {
    color: #000;
}

#network-monitor .status-alert {
    font-weight: bold;
    color: rgb(165, 5, 5);
}

/* status-host */
#network-monitor .status {
    margin-top: 30px;
}

#network-monitor .status .content-main {
    background-image: url("../image/lisk-Search.png");
}

@media screen and (max-width: 540px) {
    .thumbnail img  {
        max-width: 100%;
    }
}
