@charset "utf-8";
.content {
    border: 1px solid #ffd0d1;
    background-color: rgba(255, 208, 209, 0.9);
}

/* staking-info */
.staking-info {
    margin-top: 20px;
}

.staking-info .content-main {
    background-image: url("../image/lisk-Treasure.png");
}

/* staking-expectation */
.staking-expectation {
    margin-top: 30px;
}

.staking-expectation .content-main {
    background-image: url("../image/lisk-Robot.png");
}

#calculate-exp input {
    font-size: 1.6rem;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px; 
}

#calculate-data {
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

#calculate-data li {
    margin: 0px;
    margin-bottom: 3px;
}
