<div class="commulab">
    <div><a href="/"><img src="./image/commulab-Logo.png" class="logo" /></a></div>
    <div class="name"><a href="/">Lisk Commulab</a></div>
</div>
<nav>
    <ul>
        <li>
            <a href="/" id="menu-home">HOME</a>
        </li>
        <li>
            <a href="/network-monitor">MONITOR</a>
        </li>
    </ul>
</nav>
