<div id="staking">
    <div class="staking-info">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Staking Information
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">ステーキング報酬に関する情報</div>
        <div class="content-main left">
            <div class="content open">
                <div>commulabの現在の状況は以下の通りです&nbsp;<i class="far fa-face-laugh-beam"></i></div>
                <br />
                <ul>
                    <li>
                        <div><span class="title">報酬割合：</span><span id="staking-rate">取得中です。</span></div>
                        <div class="memo">※ブロック報酬からステーキング報酬にまわす割合です</div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div><span class="title">ブロック報酬：</span><span id="block-reward">取得中です。</span></div>
                        <div class="memo">※commulabが1ブロック生成ごとに受け取る報酬です</div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div><span class="title">ステーキング報酬：</span><span id="staking-reward">取得中です。</span></div>
                        <div class="memo">※1ブロックあたりの総ステーキング報酬です(ブロック報酬×報酬割合)</div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div><span class="title">自己投票数：</span><span id="self-stake">取得中です。</span></div>
                        <div class="memo">※commulabの自己投票数です</div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div><span class="title">得票数：</span><span id="total-stake">取得中です。</span></div>
                        <div class="memo">※commulabの得票数です(自己投票数を含む)</div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div><span class="title">重み：</span><span id="validator-weight">取得中です。</span></div>
                        <div class="memo">※ランク計算等に使用される重みです(最大：自己投票数×10)</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="staking-expectation">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Expectation Check
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">ステーキング報酬(期待値)の確認</div>
        <div class="content-main right">
            <div class="content open">
                <div id="calculate-exp">
                    <div class="title">注意事項</div>
                    <ul>
                        <li><div>commulabがアクティブ(上位101位以内)であることが前提です。</div></li>
                        <li>
                            <div>1ブロックあたりのステーキング報酬は以下の計算式で計算します。</div>
                            <div>(投票数 / 得票数) * (ブロック報酬 * 報酬割合)</div>
                        </li>
                        <li><div>10LSK未満の入力値は切り上げて計算します。</div></li>
                    </ul>
                    <br />
                    <div>報酬(期待値)の確認が出来ます。</div>
                    <input type="number" placeholder="投票数を入力してください">
                </div>
                <div id="calculate-data" style="display: none;"></div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="../css/staking.css" type="text/css" />
    <script src="https://js.lisk.com/lisk-client-5.2.1.js" charset="utf-8"></script>
    <script src="../js/common.js" charset="utf-8"></script>
    <script>
        let blockReward = 0;
        let stakingRate = 0;
        let stakingReward = 0;
        let selfStake = 0;
        let totalStake = 0;
        let validatorWeight = 0;

        const getValidatorInfo = async() => {
            const data = await getMyAccount();
            stakingRate = 100.00 - (+data.commission / 100);
            stakingReward = Math.floor(blockReward * (stakingRate / 100) * 100000000) / 100000000;
            selfStake = +data.selfStake / 100000000;
            totalStake = +data.totalStake / 100000000;
            validatorWeight = +data.validatorWeight / 100000000;
        }

        const calcExpValue = (val) => {
            if (!val || val < 10) {
                document.querySelector("#calculate-data").innerHTML = "";
                document.querySelector("#calculate-data").style.display = "none";
                return;
            }
            
            const vote = Math.ceil(+val / 10) * 10;
            const total = +totalStake + vote;
            const block = blockReward;
            const rate = stakingRate / 100;
            const result = Math.floor(((vote / total) * (block * rate)) * 100000000) / 100000000;

            document.querySelector("#calculate-data").innerHTML = `<div class="title">ステーキング報酬</div>`; 
            document.querySelector("#calculate-data").innerHTML +=
                `<ul>` +
                `<li><span class="title">1ブロックあたり：</span><span>${result}LSK</span>` +
                `<li><span class="title">1日あたり：</span><span>${Math.floor((result * DAILY_GENERATE_BLOCK) * 100000000) / 100000000}LSK</span></li>` +
                `<li><span class="title">1週間あたり：</span><span>${Math.floor((result * DAILY_GENERATE_BLOCK * 7) * 100000000) / 100000000}LSK</span></li>` +
                `<li><span class="title">1ヵ月あたり：</span><span>${Math.floor((result * DAILY_GENERATE_BLOCK * 30) * 100000000) / 100000000}LSK</span></li>` +
                `<li><span class="title">1年あたり：</span><span>${Math.floor((result * DAILY_GENERATE_BLOCK * 365) * 100000000) / 100000000}LSK</span></li>` +
                `</ul>`;
            document.querySelector("#calculate-data").innerHTML += `<div class="title" style="margin-top: 10px;">以下で計算しています。</div>`; 
            document.querySelector("#calculate-data").innerHTML += 
                `<ul>` +
                `<li><span class="title">投票数：</span><span>${vote}LSK</span></li>` +
                `<li><span class="title">得票数：</span><span>${total}LSK</span></li>` +
                `<li><span class="title">ブロック報酬：</span><span>${block}LSK</span></li>` +
                `<li><span class="title">報酬割合：</span><span>${rate * 100}%</span></li>` +
                `</ul>`;
            document.querySelector("#calculate-data").style.display = "block";
        }

        (async() => {
            document.querySelector("#calculate-exp input").addEventListener("input", async(event) => await calcExpValue(event.target.value));
            await getMyReward();
            await getValidatorInfo();
            document.querySelector("#staking-rate").innerHTML = `${stakingRate}%`;
            document.querySelector("#block-reward").innerHTML = `${blockReward}LSK`;
            document.querySelector("#staking-reward").innerHTML = `${stakingReward}LSK`;
            document.querySelector("#self-stake").innerHTML = `${selfStake}`;
            document.querySelector("#total-stake").innerHTML = `${totalStake}`;
            document.querySelector("#validator-weight").innerHTML = `${validatorWeight}`;
        })();
    </script>
</div>